[user]
	name = Haoyang Feng
	email = haoyangnz@gmail.com
[diff]
	tool = vimdiff
	patience = true
	algorithm = histogram
[color]
	diff = auto
	status = always
	branch = auto
	interactive = auto
	ui = true
	pager = true
[remote "origin"]
	prune = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
	prompt = false
