[user]
	name = Haoyang Feng
	email = haoyangnz@gmail.com
[diff]
	tool = vimdiff
	patience = true
	algorithm = histogram
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

